<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.warehousedeliveryorder">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <meta-data
        android:name="preloaded_fonts"
        android:resource="@array/preloaded_fonts" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:networkSecurityConfig="@xml/network_security_config"
        android:fullBackupContent="@xml/backup_rules"
        android:usesCleartextTraffic="true"
        android:icon="@drawable/wdo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/wdo"
        android:supportsRtl="true"
        android:theme="@style/Theme.WarehouseDeliveryOrder"
        tools:targetApi="31">
        <activity
            android:name=".ScannerBarangActivity"
            android:exported="false" />
        <activity
            android:name=".ScanBarangActivity"
            android:exported="false" />
        <activity
            android:name=".LocationActivity"
            android:exported="false" />
        <activity android:name=".SplashscreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".VerifikasiActivity"
            android:exported="false" />
        <activity
            android:name=".ScanFGActivity"
            android:exported="false" />
        <activity
            android:name=".ScannerFGActivity"
            android:exported="false" />
        <activity
            android:name=".DataMutasiActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".kirim_text"
            android:exported="false" />
        <activity
            android:name=".hasil_scan"
            android:exported="false" />
        <activity android:name=".data_sjp" />
        <activity android:name=".ScannerActivity" />
    </application>

</manifest>